<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><b>LIBRARY</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/search/list">Users list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/search/list">Books list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/course/search/list">Courses list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/add/form">Add user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/add/form">Add book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/course/add/form">Add course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/search/borrowed">Borrowed books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/search/available">Available books</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
</div>
<hr width="100%" align="left" />
<h3>Add a new user</h3>

<form action="#" th:action="@{/user/add}" th:object="${user}" method="post">
    <p>Name: <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}? fieldError : fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
    </ul>
    <p>Surname: <input type="text" th:field="*{surname}" th:class="${#fields.hasErrors('surname')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('surname')}" th:text="${err}"  />
    </ul>
    <p>E-mail: <input type="text" th:field="*{email}" th:class="${#fields.hasErrors('email')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"  />
    </ul>
    <p>Course: <input type="text" th:field="*{course}" th:class="${#fields.hasErrors('course')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('course')}" th:text="${err}" />
    </ul>
    <p>Street: <input type="text" th:field="*{address.streetName}"  th:class="${#fields.hasErrors('address.streetName')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('address.streetName')}" th:text="${err}" />
    </ul>
    <p>Street number: <input type="text" th:field="*{address.streetNumber}"  th:class="${#fields.hasErrors('address.streetNumber')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('address.streetNumber')}" th:text="${err}" />
    </ul>
    <p>Apartment number: <input type="text" th:field="*{address.apartmentNumber}"  th:class="${#fields.hasErrors('address.apartmentNumber')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('address.apartmentNumber')}" th:text="${err}" />
    </ul>
    <p>ZipCode: <input type="text" th:field="*{address.zipCode}" th:class="${#fields.hasErrors('address.zipCode')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('address.zipCode')}" th:text="${err}" />
    </ul>
    <p>City: <input type="text" th:field="*{address.city}" th:class="${#fields.hasErrors('address.city')}? fieldError: fieldOk"/></p>
    <ul>
        <li th:each="err : ${#fields.errors('address.city')}" th:text="${err}" />
    </ul>

    <p><input type="submit" class="btn btn-success" value="Submit" /> <input type="reset" class="btn btn-danger" value="Reset" /></p>
</form>
<a class="nav-link" href="/user/search/list">Back to users list</a>

</body>
</html>