<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of available books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/"><b>LIBRARY</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/search/list">Users list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/search/list">Books list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/course/search/list">Courses list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/add/form">Add user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/add/form">Add book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/course/add/form">Add course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/search/borrowed">Borrowed books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/search/available">Available books</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
</div>
<hr width="100%" align="left" />

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author name</th>
        <th>Author surname</th>
        <th>ISBN</th>
        <th>No. of pages</th>
        <th>Hard cover</th>
    </tr>
    </thead>
    <tr th:each="book : ${list}">
        <td th:text="${book.id}">Id</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author.name}">Author name</td>
        <td th:text="${book.author.surname}">Author surname</td>
        <td th:text="${book.isbn}">ISBN</td>
        <td th:text="${book.numberOfPages}">No. of pages</td>
        <td th:text="${book.hardCover}">Hard cover</td>
        <td><a type="button" class="btn btn-success" th:href="@{/user/borrow/book/{userId}/{bookId}(userId=${userId},bookId=${book.id})}">Borrow</a></td>
        <td>
    </tr>
</table>
<hr width="30%" align="left" />
<form th:object="${book}" th:action="@{/book/search/available/byword}" method="get">
    <input type="text" name="search" id="search" placeholder="Search..." th:value="${search}"/>
    <input type="submit" class="btn btn-info"value="Search"/>
</form>

</body>
</html>